# Modèle de configuration pour le projet Waterflow 2 - À copier en .env
SECRET_KEY=cle_secrete_ici
DATABASE_URL=postgresql://user:password@localhost:5432/dbname
FASTAPI_URL=http://localhost:8000/predict
MLFLOW_TRACKING_URI=http://localhost:5000